<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="col-xs-8 football-container">
    <label>Formation</label>
    <select kendo-drop-down-list
      k-data-source="formation"
      ng-model="formationType" ng-change="changeFormation(formationType)">
    </select>
    <div class="football-field">
      <!-- <img src="aaaaaa" style="top: 50%; position: absolute;"/> -->
      <div class="right-field col-xs-6">
        <div class="field right-field-1 col-xs-3">
          <div class="player-position" style="top: 45%; position: absolute;" kendo-droptarget> </div>
          <div class="player-position" style="top: 65%; position: absolute;"></div>
        </div>
        <div class="field right-field-2 col-xs-2">
          
        </div>
        <div class="field right-field-3 col-xs-2">
          <div class="player-position" style="top: 45%; position: absolute;"></div>  
        </div>
        <div class="field right-field-4 col-xs-2">
          <div class="player-position" style="top: 65%; position: absolute;"></div>
        </div>
        <div class="field right-field-4 col-xs-3">

        </div>
      </div>
      <div class="left-field col-xs-6">
        <div class="field left-field-1 col-xs-3">
          <div class="player-position" style="top: 45%; position: absolute;"></div>
          <div class="player-position" style="top: 65%; position: absolute;"></div>
        </div>
        <div class="field left-field-2 col-xs-2">
          
        </div>
        <div class="field left-field-3 col-xs-2">
          
        </div>
        <div class="field left-field-4 col-xs-2">
          <div class="player-position" style="top: 45%; position: absolute;"></div>
          <div class="player-position" style="top: 65%; position: absolute;"></div>
        </div>
        <div class="field left-field-4 col-xs-3">

        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xs-4">
    <ul kendo-panel-bar>
      <li> First Team Sqaud </li>
      <li>
        Goalkeepers
        <ul class="player-list">
          <li ng-repeat="userData in users | filter: { user: {role: 'Goalkeeper'}}" class="player-view" kendo-draggable k-hint="draggableHint" k-dragstart="onDragStart" k-dragend="onDragEnd">
            <div class="player-container" >
              <img src="{{userData.user.picture.thumbnail}}" />
              {{userData.user.name.last}}, {{userData.user.name.first}}
            </div>
          </li>
        </ul>
      </li>
      <li>
        Defense
        <ul class="player-list">
          <li ng-repeat="userData in users | filter: { user: {role: 'Defense'}}" class="player-view" kendo-draggable k-hint="draggableHint" k-dragstart="onDragStart" k-dragend="onDragEnd">
            <div class="player-container">
              <img src="{{userData.user.picture.thumbnail}}" />
              {{userData.user.name.last}}, {{userData.user.name.first}}
            </div>
          </li>
        </ul>
      </li>
      <li>
        Midfielders
        <ul class="player-list">
          <li ng-repeat="userData in users | filter: { user: {role: 'Midfielder'}}" class="player-view" kendo-draggable k-hint="draggableHint" k-dragstart="onDragStart" k-dragend="onDragEnd">
            <div class="player-container">
              <img src="{{userData.user.picture.thumbnail}}" />
              {{userData.user.name.last}}, {{userData.user.name.first}}
            </div>
          </li>
        </ul>
      </li>
      <li>
        Forwards
        <ul class="player-list">
          <li ng-repeat="userData in users | filter: { user: {role: 'Forward'}}" class="player-view" kendo-draggable k-hint="draggableHint" k-dragstart="onDragStart" k-dragend="onDragEnd">
            <div class="player-container" kendo-draggable>
              <img src="{{userData.user.picture.thumbnail}}" />
              {{userData.user.name.last}}, {{userData.user.name.first}}
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="demo-section k-content">
    <div id="droptarget" kendo-droptarget k-dragenter="onDragEnter" k-dragleave="onDragLeave" k-drop="onDrop" class="k-header">{{ dropTargetText }}</div>
    <div class="{{ draggableCLass }}" id=" kendo-draggable k-hint="draggableHint" k-dragstart="onDragStart" k-dragend="onDragEnd"></div>
</div> -->

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
