.thing-form {
  margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.football-container {
  border: 1px solid #F0F0F0;
  padding: 30px 30px 0px 30px;
}

.football-field {
  background: url('/assets/images/football-pitch.png') no-repeat center center; 
  background-size: cover; 
  height: 850px;
  position: relative;
  padding: 0px 10px;
  
  .right-field, .left-field {
    height: 100%;
    padding: 9px 0px;
  }

  .field {
    padding: 0px;
    height: 100%;
  }

  .player-spot {
    position: absolute;
    width: 100%;
    left: 0;
    &.goal-keeper {
      padding: 0 40%;
    }
  }

}

.player-list {
  li {
    list-style-type: none;
  }
}

.player-view {
    list-style-type: none;
    font-weight: normal;
    padding: 10px;
    img {
      border: 2px solid #00E381;  
    }
    
    &.added {
      background-color: #D9FBEC;
      pointer-events: none;
    }

    &.modefied {
      img {
        border: 2px solid #E6C50B;
      }
    }

    &.injured {
      background-color: #FFE0E0;
      pointer-events: none;
      img {
        border: 2px solid #FF4F4F;
      }
    }
    
}

.k-icon {
  background-image: url('/assets/images/sprite.png') !important;
}


